<%- include('header.ejs')%> 
<!--
<div class="container">
  <div class="row justify-content-end row-lg-4">
    <div class="col col-lg-2 bg-info">
      <img src="https://m.media-amazon.com/images/I/71A8i3cbcSL._AC_SL1500_.jpg"
        style="width: 100px; height: 100px;">
    </div>
    <div class="col col-lg-6 bg-dark text-white">
      <div class="row">
        <div class="col">
          <p class="font-weight-bold">Nombre Producto</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="">Precio</p>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col justify-content-end">
          <button id="contenedor-formulario" style="align-items: center;" class="btn btn-success" type="submit" >Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>-->

<%- include('footer.ejs') %> 